<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="EN">
<head>
    <title>Редактирование</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/plugins/bootstrap/bootstrap.css}" rel="stylesheet">
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>


<h1 class="text-center">Редактирование книги</h1><br>

<div class="container">
    <div class="mx-auto" th:each="el : ${book}">
        <form method="post">
            <input class="form-control" type="text" th:value="${el.title}" name="title"
                   placeholder="Введите название книги"><br>
            <input class="form-control" type="text" th:value="${el.author}" name="author"
                   placeholder="Введите автора книги"><br>
            <textarea class="form-control" name="full_text" placeholder="Введите краткое описание книги"
                      th:text="${el.fulltext}"/><br>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn btn-primary">Обновить данные книги</button>
            </div>
        </form>
    </div>
</div>

<div th:insert="~{blocks/footer :: footer}"></div>
</body>
</html>